#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.img {
  width: 50%;
  border-radius: 10%;
}


.price {
font-size: 2.5rem;
}

.description {
  font-size: 1rem;
}

.card {
  padding: 2em;
  margin: 2rem;
  border: 1px solid rgb(164, 161, 161);
  border-radius: 5%;
}


