/* Grid area setup */
body {
    display: grid;
    grid-template-areas: 
        "aside main main main"
        "aside main main main"
        "aside about about about"
        "aside skills skills skills"
        "aside port port port"
        "aside services services services"
        " aside contact contact contact";
    grid-template-columns: 1fr 5fr ;

    margin: 0;
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    overflow-x: hidden; /*Hides the horizontal scroll bar on entire page*/
    
}
header {
    grid-area: aside;
    position: fixed;
    top: 0;
    height: 100vh;
    min-width: 16.7%; 
}

main {
    grid-area: main;
}

.about {
    grid-area: about;
}

.skills {
    grid-area: skills;
}

.portfolio {
    grid-area: port;
}
.services {
    grid-area: services;
}
.contact {
    grid-area: contact;
}

/* Styling for sidebar: */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}

#profile-container {
    border: 1px rgb(122, 119, 119) solid;
    box-shadow: 0.1rem 0.1rem 0.5rem;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    background-image: url("/media/IMG_20220704_114658.jpg");
    background-position: 0rem; /*positions the current image to have the guy visible*/
    background-size: cover;
    margin-top: 1rem;
}

.sidebar-name {
    font-size: 2rem;
    font-weight: 600;
}

#socials { /*This is the parent container for all the socials images/links*/
    padding: 0;
}

#socials img {
    height: 1.5rem;
    margin: 0 0.75rem; /*Makes the spacing between the socials icons*/    
}

#side-nav {
    align-self: flex-start; /*Moved the ul id="side-nav" to left*/
}

#side-nav li {
    font-weight: 300;
    list-style: none; /*Removed bullet points from list items*/
    margin: 2rem 0;
    cursor: pointer;
}

#side-nav > li > a > img  { /*This selector setup allows acces to child elements of a specific parent*/
    width: 1.4rem;
    margin-right: 1rem; 
}

#side-nav > li > a {
    text-decoration: none;
    color: aliceblue;
}

/*Interactivity for aside elements*/
.social-link:hover {
    scale: 1.1;
}

.nav-link:hover {
    text-decoration: underline;
}


/*Banner page styling*/
.main {
    height: 100vh;
    background-image: url("/media/IMG_20220704_115122.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transform: scaleX(-1); /*This flips the image on the X axis*/
}

.overlay { /*Reasearch this code*/
    border-image: linear-gradient(hsla(240, 13%, 80%, .4), hsl(0, 1%, 17%, .8)) fill 1;
}

.name-container {
    position: relative;
    top: 30%;
    right: 10%;
    transform: scaleX(-1);
}
.main-name {
    color: rgb(28, 14, 14);
    font-size: 4rem;
    margin-bottom: 0;
}

.typed {
    font-size: 1.7rem;
    color: rgb(28, 14, 14);    
}

.photo {
    height: 25rem;
    border-radius: 50%;
}

/*Styling ABOUT section:*/
.about, .skills, .portfolio, .services, .contact {
    padding-left: 10rem; /*moves all the sections to the right */
}
h2 {
    font-size: 2rem;
    position: relative; /*To position the underline relative to itself*/
}

h2::after { /*This pseudo selector creates an underline that is smaller than the h2 content*/
    background: rgb(200, 166, 233);
    content: "";
    height: .15rem;
    width: 3%;
    position: absolute; /*To position the underline absolute to the h2 + the below 2 lines places it in exact position*/
    bottom: 0;
    left: 0;
}

.about-main-container {
    padding: 3rem 0;
    display: inline-flex;
}

.about > article > img {
    width: 30%;
}
.about-details {
    margin-left: 3rem;
}

/*Styling for skills section*/
.skills-media {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

/*Styling for Portfolio section:*/
.portfolio > ul {
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.portfolio > ul > li {
    list-style: none;    
    margin: 0 1rem;
    cursor: pointer;
}

.port-container {
    display: flex;
    justify-content: center;
}

.port-img {
    border: 0.1rem solid rgb(202, 202, 202);
    height: 20rem;
    width: 20rem;
    margin: 1rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    
}
.imgInfoBox {
    height: 25rem;
    width: 25rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(200, 166, 233);
    opacity: 90%;
    display: none;
}

.imgInfoBox > p {
    margin-left: 1rem;

}

#img1 {
    background-image: url("/media/port_html_cheatsheet.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: 50%;
}
#img1:hover {
    box-shadow: .25rem .25rem 1rem;
    scale: 1.01;
}
#img1:active {
    box-shadow: .05rem .05rem .5rem;
    scale: 1;
}

#img2 {
    background-image: url("/media/port_biltong.jpg");
    background-size:contain;
    background-repeat: no-repeat;
}
#img2:hover {
    box-shadow: .25rem .25rem 1rem;
    scale: 1.01;
}
#img2:active {
    box-shadow: .05rem .05rem .5rem;
    scale: 1;
}

#img3 {
    background-image: url("/media/port_number_guesser.jpg");
    background-size:contain;
    background-repeat: no-repeat;
}
#img3:hover {
    box-shadow: .25rem .25rem 1rem;
    scale: 1.01;
}
#img3:active {
    box-shadow: .05rem .05rem .5rem;
    scale: 1;
}


/*Contact page styling:*/
.contact-main {
 display: inline-flex;
}
.details-container, .form-container {
    border-radius: 7%;
    box-shadow:  0rem 0rem .4em  ;
    margin-left: 1rem;
    display: inline-flex;
    flex-direction: column;
}

.contact-list > li {
    list-style: none;
}

.contact-list {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 0;
}

.contact-list > li > h4 {
    font-size: large;
    margin-bottom: 0;
}

.contact-list > li > p {
    margin-top: 0 ;
}

.office-location {
    margin: 1.5rem;
    
}

.contact-container {
    display: flex;
    flex-direction: column;
}
.form-container {
    width: 40rem;
    margin-left: 3rem;
}

.name-mail-container {
   display: flex;
   justify-content: space-around;

}

.name-mail-container > div, .subject, .message {
    display: inline-flex;
    flex-direction: column;
}

.subject, .message {
    margin-left: 3.5rem;
    
}

label {
    margin: 1rem 0;
}

.form-button {
    font-weight: 700;
    margin: 2rem 45%;
    height: 2rem;
    background: rgb(200, 166, 233);
    border: .1rem;
    border-radius: 10%;
    box-shadow:  0rem 0rem .2rem;
}

.form-button:hover {
    scale: 1.01;
}

.form-button:active {
    scale: 1;
}

/*Adding interactivity to portfolio clickable areas*/
.all:hover {
    text-decoration: underline;
}

.sites:hover {
    text-decoration: underline;
}

.apps:hover {
    text-decoration: underline;
}

.all:active {
    text-decoration: none;
}
/* stopped here, need to continue active pseudoclasses */