/* Grid area setup */
body {
    display: grid;
    grid-template-areas: 
        "aside main main main"
        "aside main main main"
        "aside about about about"
        "aside resume resume resume"
        "aside port port port"
        "aside services services services"
        " aside contact contact contact";
    grid-template-columns: 1fr 5fr ;

    margin: 0;
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    
}
header {
    grid-area: aside;
   
}

main {
    border: 1px rgb(189, 22, 22) solid;
    background-color: aquamarine;
    grid-area: main;

}
.about {
    border: 1px rgb(189, 22, 22) solid;
    background-color: rgb(147, 244, 212);
    grid-area: about;
}
.resume {
    border: 1px rgb(189, 22, 22) solid;
    background-color: rgb(133, 220, 191);
    grid-area: resume;
}
.portfolio {
    border: 1px rgb(189, 22, 22) solid;
    background-color: rgb(106, 241, 196);
    grid-area: port;
}
.services {
    border: 1px rgb(189, 22, 22) solid;
    background-color: rgb(158, 239, 212);
    grid-area: services;
}
.contact {
    border: 1px rgb(189, 22, 22) solid;
    background-color: rgb(151, 242, 212);
    grid-area: contact;
}

/* Styling for sidebar: */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);

}

#profile-container {
    border: 1px rgb(122, 119, 119) solid;
    box-shadow: 0.1rem 0.1rem 0.5rem;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    background-image: url("/media/placeholder_img.jpg");
    background-position: 11rem; /*positions the current image to have the guy visible*/
    background-size: cover;
    margin-top: 1rem;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

#socials { /*This is the parent container for all the socials images/links*/
    padding: 0;
}

#socials img {
    height: 1.5rem;
    margin: 0 0.75rem; /*Makes the spacing between the socials icons*/   
    
}

#side-nav {
    align-self: flex-start; /*Moved the ul id="side-nav" to left*/
}
#side-nav li {
    font-weight: 300;
    list-style: none; /*Removed bullet points from list items*/
    margin: 2rem 0;
    font-size: 1.5rem;
    cursor: pointer;
}

#side-nav > li > img  {
    width: 1.4rem;
    margin-right: 1rem;
}

.main {
    
}
.about {
    
}